.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login label{
    display: block;
    margin:15px;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    min-width: 250px;
    
}
.login button{
    margin:15px;
}